AzureShutdownStartupAutomation.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "For_each": {
                "actions": {
                    "Deallocate_Virtual_Machine": {
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azurevm']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/subscriptions/@{encodeURIComponent('a0c6645e-c3da-4a78-9ef6-04ab6aad45ff')}/resourcegroups/@{encodeURIComponent('pd1_rsg_azure_desktop')}/providers/Microsoft.Compute/virtualMachines/@{encodeURIComponent(items('For_each'))}/deallocate",
                            "queries": {
                                "api-version": "2019-12-01"
                            }
                        },
                        "runAfter": {},
                        "type": "ApiConnection"
                    },
                    "Give_a_delay_of_9_hour": {
                        "inputs": {
                            "interval": {
                                "count": 9,
                                "unit": "Hour"
                            }
                        },
                        "runAfter": {
                            "Deallocate_Virtual_Machine": [
                                "Succeeded"
                            ]
                        },
                        "type": "Wait"
                    },
                    "Start_Virtual_Machine": {
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azurevm']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/subscriptions/@{encodeURIComponent('a0c6645e-c3da-4a78-9ef6-04ab6aad45ff')}/resourcegroups/@{encodeURIComponent('pd1_rsg_azure_desktop')}/providers/Microsoft.Compute/virtualMachines/@{encodeURIComponent(items('For_each'))}/start",
                            "queries": {
                                "api-version": "2019-12-01"
                            }
                        },
                        "runAfter": {
                            "Give_a_delay_of_9_hour": [
                                "Succeeded"
                            ]
                        },
                        "type": "ApiConnection"
                    }
                },
                "foreach": "@variables('VMName')",
                "runAfter": {
                    "Initialize_variable": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "Initialize_variable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "VMName",
                            "type": "array",
                            "value": [
                                "phn-0",
                                "phn-1",
                                "phn-2",
                                "phn-3"
                            ]
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "Recurrence": {
                "evaluatedRecurrence": {
                    "frequency": "Week",
                    "interval": 1,
                    "schedule": {
                        "hours": [
                            "21"
                        ],
                        "weekDays": [
                            "Monday",
                            "Tuesday",
                            "Wednesday",
                            "Thursday",
                            "Friday",
                            "Saturday",
                            "Sunday"
                        ]
                    },
                    "timeZone": "Eastern Standard Time"
                },
                "recurrence": {
                    "frequency": "Week",
                    "interval": 1,
                    "schedule": {
                        "hours": [
                            "21"
                        ],
                        "weekDays": [
                            "Monday",
                            "Tuesday",
                            "Wednesday",
                            "Thursday",
                            "Friday",
                            "Saturday",
                            "Sunday"
                        ]
                    },
                    "timeZone": "Eastern Standard Time"
                },
                "type": "Recurrence"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azurevm": {
                    "connectionId": "/subscriptions/a0c6645e-c3da-4a78-9ef6-04ab6aad45ff/resourceGroups/pd1_rsg_42/providers/Microsoft.Web/connections/azurevm-3",
                    "connectionName": "azurevm-3",
                    "id": "/subscriptions/a0c6645e-c3da-4a78-9ef6-04ab6aad45ff/providers/Microsoft.Web/locations/eastus2/managedApis/azurevm"
                }
            }
        }
    }
}